<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!--  -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet-mouse-position@1.0.4/src/L.Control.MousePosition.css">
<script type="text/javascript" src="https://unpkg.com/leaflet-mouse-position@1.0.4/src/L.Control.MousePosition.js"></script>
<!--  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.Spin/1.1.2/leaflet.spin.min.js"></script>
<!--  -->
<script src="https://jsuites.net/v5/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v5/jsuites.css" type="text/css" />
<!--  -->
<script type="text/javascript" src="{{ url_for('webapi.static', filename='js/leaflet-maps.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('webapi.static', filename='css/download-data.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('webapi.static', filename='css/leaflet-site.css') }}">