{% extends "layout.html" %}
{% block title %} {{metInfo.pageTitle}} {% endblock %}
{% block head %}
{{ super() }}
{% include 'block-head.html' %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row wrapper">
        <div class="d-md-flex">
            <div class="col-sm-4 main-panel box-panel overflow-auto">
                <div class="border border-secondary rounded-3 div-control">
                    <div>
                        <span class="title-label">Select Dataset</span>
                        <select id="dataset" class="form-select">
                            {% for key, value in pageCtrl.dataset.items() %}
                            <option value="{{key}}" {% if (key==pageCtrl.dataset_sel) %} selected {% endif %}>{{value}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <span class="title-label">Temporal Resolution</span>
                        <select id="temporal-resolution" class="form-select">
                            {% for key, value in pageCtrl.temporal_resolution.items() %}
                            <option value="{{key}}" {% if (key==pageCtrl.temporal_resolution_sel) %} selected {% endif %}>{{value}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <span class="title-label">Select Variable</span>
                        <select id="variable" class="form-select">
                            {% for key, value in pageCtrl.variable.items() %}
                            <option value="{{key}}" {% if (key==pageCtrl.variable_sel) %} selected {% endif %}>{{value}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!--  -->
                <div class="border border-secondary rounded-3 div-control">
                    <div>
                        <span class="title-label">Date Range</span>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <span id="start-date-text">Start Year</span>
                                    <div id='start-date'></div>
                                </div>
                                <div class="col-md-6">
                                    <span id="end-date-text">End Year</span>
                                    <div id='end-date'></div>
                                </div>
                            </div>
                            <div class="row" id="seasonal-res">
                                <div class="col-md-6">
                                    Season Start
                                    <div id='start-season'></div>
                                </div>
                                <div class="col-md-6">
                                    Season Length
                                    <div id='length-season'></div>
                                </div>
                                <p style="font-weight: bold;"> Season: <span id='display-season'> January -> March </span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                {% include 'extract-selection.html' %}
                {% include 'output-selection.html' %}
                <!--  -->
                {% include 'apiurl-button.html' %}
            </div>
            <!--  -->
            {% include 'download-tabs.html' %}
        </div>
    </div>
    <!--  -->
    {% include 'download-button.html' %}
</div>
{% endblock %}
{% block javascript %}
{% include 'block-js.html' %}
<!--  -->
<script type="text/javascript" src="{{ url_for('webapi.static', filename='js/download-raw.js') }}"></script>
{% endblock %}