<div id="user-account"> </div>
<hr>
<div id="change-password">
    <p style="font-weight:bold;"> Change password</p>
    <form>
        <table id="pwdInput">
            <tr>
                <td> <label for="password">New Password</label> </td>
                <td> <input id="password" type="password" value="" autocomplete="on">
                </td>
                <td rowspan="2">
                    <button id="btn-submit-pwd" type="button" class="btn btn-primary">Change</button>
                </td>
            </tr>
            <tr>
                <td> <label for="confirm">Repeat Password</label> </td>
                <td> <input id="confirm" type="password" value="" autocomplete="on">
                </td>
            </tr>
        </table>
    </form>
</div>